#main * {
    /* for some reason people like to use z-index to solve their problems, causing stuff like https://github.com/mui-org/material-ui/issues/20856
     * unsetting globally for now until the issue is fixed
     */
    z-index: unset !important;
}

.autocompleteWidthFix .MuiAutocomplete-input {
    /**
     * Fixes an issue with the autocomplete width being set to 0 in the NodeBuilder component.
     */
    width: unset !important;
}

body {
    margin: 0;
    background-color: #121212;
}

#main:empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#main:empty::after {
    content: ".";
    display: block;
    width: min(30vw, 30vh);
    height: min(30vw, 30vh);
    margin: 8px;
    border-radius: 50%;
    border: 10px solid white;
    border-color: white transparent white transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}